<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <!-- NOTE! If you are using ASP.NET 1.x then remove the requirePermission="false" 
    attribute from the section elements below as those are only needed for partially trusted applications in ASP.NET 2.0 -->
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <elmah>
    <security allowRemoteAccess="yes"/>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data"/>
    <errorMail from="web@american-omni.com" to="ht@hughessg.com,ph@hughessg.com" subject="ERROR From POT (ELMAH)"
               async="false" smtpPort="25" smtpServer="10.20.1.44" />
  </elmah>
  <appSettings>
    <add key="uploadPath" value="Files"/>
    <add key="downloadUrl" value="Files"/>
    <add key="debugMail" value="false"/>
    <add key="contactEmail" value="web@american-omni.com"/>
    <add key="emailTemplatePathByRefToRoot" value="EmailTemplates"/>
    <add key="custCodeLenInLocCode" value="7"/>
    <add key="applicationErrorEmail" value="ht@hughessg.com,ph@hughessg.com"/>
    <add key="nofityAssignToEveryTime" value="false"/>
    <!--HT: Required when we've lots of controls (like checkbox) on a page that submits form -->
    <add key="aspnet:MaxHttpCollectionKeys" value="1000"/>
    <add key="ClientValidationEnabled" value="false"/>
    <add key="MaxFileSizMB" value="33"/>
    <!--http://www.tigraine.at/2011/08/26/jquery-validate-and-microsofts-unobtrusive-validation-dont-play-well-together/-->
    <add key="UnobtrusiveJavaScriptEnabled" value="false"/>
    <add key="VendorIDDeestone" value="6203"/>
    <add key="VendorIDSvizz" value="6204"/>
    <add key="VendorIDSiamtruck" value="6213"/>
    <add key="VendorIDDeestoneLtd" value="6218"/>
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="POTConnectionString" connectionString="Data Source=AOT-SQL;Initial Catalog=POTracking;Persist Security Info=True;User ID=aotadmincpmpo;Password=AOT@pass447#$#" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="web@american-omni.com">
        <!-- network host="smtpauth.hosting.earthlink.net" password="hemant01" userName="ht@hughessg.com"/-->
        <!-- network host="mail.american-omni.com" or 127.0.0.1 -->
        <network host="10.20.1.44" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--HT: START: To make js, css & img available for Login -->
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--HT: END: To make js, css & img available for Login -->
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--Ref: SO: 6025522/getting-a-potentially-dangerous-request-path-value-was-detected-from-the-client & 383781/increase-file-upload-size-limit -->
    <httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="" executionTimeout="480" maxRequestLength="35840"/>
    <!--HT: START: Custom Authentcation & Authorization
    Form based: http://msdn.microsoft.com/en-us/library/Aa480476
    http://weblogs.asp.net/fredriknormen/archive/2008/02/07/asp-net-mvc-framework-using-forms-authentication.aspx
    -->
    <authentication mode="Forms">
      <forms loginUrl="~/Common/Login" path="/" protection="All" timeout="180" requireSSL="false" slidingExpiration="true" defaultUrl="~/Common/Login" cookieless="UseDeviceProfile" enableCrossAppRedirects="false"/>
    </authentication>
    <sessionState timeout="180" mode="InProc" cookieless="UseCookies"/>
    <!-- mode =StateServer -->
    <!-- SO: 6051774/ maintain-session-state-data-in-a-way-that-keeps-it-tied-to-the-authentication
        - - OR - - SO: 1470777/forms-authentication-timeout-vs-session-timeout -->
    <authorization>
      <deny users="?"/>
    </authorization>
    <!--HT: END: Custom Authentcation & Authorization-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <!-- SO: 619582/asp-net-mvc-handleerror-not-catching-exceptions -->
    <customErrors mode="Off"></customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <httpModules>
      <add name="FixIIS5xWildcardMapping" type="Elmah.FixIIS5xWildcardMappingModule, Elmah"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
    </httpModules>
    <httpHandlers>
      <!-- For CSV, PDF, etc.. http://www.velocityreviews.com/forums/t120007-asp-net-2-0-system-web-httpexception-path-options-is-forbidden.html -->
      <!-- http://social.msdn.microsoft.com/Forums/sqlserver/en-US/c26a6eb5-9606-4eee-98db-ba61e853eeff/systemwebhttpexception-path-options-is-forbidden-iis-60-asp-mvc?forum=sqlreportingservices -->
      <add path="*" verb="GET,HEAD,POST,OPTIONS" type="System.Web.DefaultHttpHandler" validate="true"/>
      <!-- SO: 2819739 -->
      <add verb="*" path="*.xls" type="System.Web.StaticFileHandler"/>
      <add verb="*" path="*.xlsx" type="System.Web.StaticFileHandler"/>
      <add verb="*" path="*.pdf" type="System.Web.StaticFileHandler"/>
      <!-- http://social.msdn.microsoft.com/Forums/sqlserver/en-US/c26a6eb5-9606-4eee-98db-ba61e853eeff/systemwebhttpexception-path-options-is-forbidden-iis-60-asp-mvc?forum=sqlreportingservices -->
      <add path="*" verb="GET,HEAD,POST,OPTIONS" type="System.Web.StaticFileHandler" />
    </httpHandlers>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <!-- Kept for future ref of routing handler modules
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
		</modules>
		<handlers>
			<remove name="UrlRoutingHandler"/>
		</handlers>-->
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorTweet" type="Elmah.ErrorTweetModule, Elmah" preCondition="managedHandler"/>
    </modules>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="elmah.axd">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
      </httpHandlers>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
      </handlers>
    </system.webServer>
  </location>
</configuration>
